body {
    font-family: 'Verdana', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 215, 186);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 100px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.footer {
    text-align: left;
    padding: 20px;
    margin: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: 1px;
}

nav a {
    text-decoration: none;
    color: black;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: calc(60px);
    padding: 20px;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.gallery-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 237);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    height: 400px;
    /* calculate height based on aspect ratio */
    width: 350px;
}

.image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    transition: height 0.2s ease;
}

.card:hover .image {
    height: 20%;
    transition: height 0.2s ease;
}

.description {
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    padding: 0;
    transition: height 0.2s ease, padding 0.2s ease;
    overflow: hidden;
}

.card:hover .description {
    height: 100%;
    padding: 10px;
    transition: height 0.2s ease, padding 0.2s ease;
}

.title {
    margin: 10px;

    text-align: center;
}

.external_link {
    text-decoration: none;
    color: inherit;
    font-style: italic;
    font-size: 0.9em;
    color: rgb(116, 116, 116);
}


.tags {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.tag {
    padding: 2px 2px;
    border-radius: 4px;
    font-size: 0.8em;
    color: black;
}

.cplusplus {
    background-color: #ff9b9b;
}

.opengl {
    background-color: #8ac7ff;
}

.short-description {
    font-size: 0.9em;
    margin-bottom: 0px;
}

.resume {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.about,
.resume {
    transition: all 0.5s;
}